Makefile
mkmf.log
*.so
*.o
*.bundle

docs/doc

test/*/test.out
test/*/test_mklang.sql
test/*/test_queries.sql
test/*/test_setup.sql

test/range/test.expected.73
test/range/test.expected.74
test/range/test.expected.75
